In [29]:
print("+--------------+")
print("|LEE CHONG WEI|")
print("+--------------+")

+--------------+
|LEE CHONG WEI|
+--------------+

In [ ]:
# Printing the hair
print(" /////")
# Printing the eyes and ears
print("| o o |")
# Printing the nose
print("|  ^  |")
# Printing the mouth
print("| [_] |")
# Chin or neck line
print(" -----")

 /////
| o o |
|  ^  |
| [_] |
 -----

In [31]:
print("FFFFFFF  U   U  NN    NN")
print("FF       U   U  NNN   NN")
print("FFFFFFF  U   U  NN N  NN")
print("FF       U   U  NN  N NN")
print("FF        UUU   NN   NNN")

FFFFFFF  U   U  NN    NN
FF       U   U  NNN   NN
FFFFFFF  U   U  NN N  NN
FF       U   U  NN  N NN
FF        UUU   NN   NNN

In [32]:
print("+---+---+---+")
print("| x |   | o |")
print("+---+---+---+")
print("|   | x | o |")
print("+---+---+---+")
print("|   |   | o |")
print("+---+---+---+")

+---+---+---+
| x |   | o |
+---+---+---+
|   | x | o |
+---+---+---+
|   |   | o |
+---+---+---+

In [33]:
print("x  x^2  x^3")
print("1   1    1")
print("2   4    8")
print("3   9   27")
print("4  16   64")

x  x^2  x^3
1   1    1
2   4    8
3   9   27
4  16   64

In [38]:
name = input("Enter a name:")
age = input( "Enter an age:") 
print(name + " is " +age+ " years old now" )

Enter a name: sd
Enter an age: asd

sd is asd years old now
asd

In [41]:
Celsius = int(input("Enter a degree in Celsius"))
print(str(Celsius) + " Celsius is " +str(((9/5)*Celsius + 32)) + " Fahrenheit" )

Enter a degree in Celsius 43

43 Celsius is 109.4 Fahrenheit

In [45]:
import math
PI=math.pi

radius = float(input("Enter a radius of a cylinder: "))
height = float(input("Enter a height of a cylinder: "))

print("Its surface area and volumn are "+ str((2*PI*radius*height)+(2*PI*radius*radius))+" and" +str(PI*radius*height) )

Enter a radius of a cylinder:  3
Enter a height of a cylinder:  5

Its surface area and volumn are 150.79644737231007 and47.12388980384689

In [51]:
number =int(input("Enter a digit between 0 and 1000: "))
divisor =10

digit_one= number% divisor 
number =number // divisor 
digit_ten = number% divisor 
number=number// divisor  
digit_hundreds=number 

print("The sum of digit is: " +str((digit_hundreds+digit_ten+digit_one)))

Enter a digit between 0 and 1000:  999

The sum of digit is: 27

In [58]:
anually_int =0.05
monthly_int =  anually_int/12
base=100
total = base*(1+monthly_int)
total =(total+ base) *(1+monthly_int)
total =(total+ base) *(1+monthly_int)
total =(total+ base) *(1+monthly_int)
total =(total+ base) *(1+monthly_int)
total =(total+ base) *(1+monthly_int)

print("After sex month, the account value is: "+round(total))

TypeError: can only concatenate str (not "int") to str

In [60]:
# Prompt the user for inputs
print("Equation 1: ax + by = e")
print("Equation 2: cx + dy = f\n")

print("Enter a numerical value for each of the following 6 variables:")
a = float(input("a = "))
b = float(input("b = "))
e = float(input("e = "))
c = float(input("c = "))
d = float(input("d = "))
f = float(input("f = "))

# Display the equations
print(f"\nEquation 1: {a}x + {b}y = {e}")
print(f"Equation 2: {c}x + {d}y = {f}\n")

# Calculate the denominator
denominator = a * d - b * c

# Check if solution exists (denominator must not be zero)
if denominator == 0:
    print("The equations have no unique solution.")
else:
    x = (e * d - b * f) / denominator
    y = (a * f - e * c) / denominator

    # Print results rounded to 4 decimal places
    print(f"x = {round(x, 4)}")
    print(f"y = {round(y, 4)}")

Equation 1: ax + by = e
Equation 2: cx + dy = f

Enter a numerical value for each of the following 6 variables:

a =  3.4
b =  50.2
e =  44.5
c =  2.1
d =  0.55
f =  5.9

Equation 1: 3.4x + 50.2y = 44.5
Equation 2: 2.1x + 0.55y = 5.9

x = 2.6239
y = 0.7087